$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #000076;
}

.header {
    display: inline-block;
    position: relative;
}

.loginbutton {
    display: inline-block;
    width: 25%;
}

.title span {
    font-family: 'Cherry Cream Soda', cursive;
    font-size: 36px;
    color: white; 
    margin-left: 233px;
    display:inline-block;
    position: absolute;
    margin-top: -13px;
}

.babblebox {
    width: 1000px;
    height: 600px;
    background-color: white;
    border-radius: 40px;
    margin-top: 40px;
    margin-left: 60px;
}

.usernamebox {
    display:inline-block;
    position: absolute;
    left: 935px;

    & input {
    border-radius: 8px;
    height: 31px;
}}

.loginbutton {
    display:inline-block;
    position: absolute;
    left: 1095px;
}

.loginbutton button {
    background: #34d94d;
    background-image: -webkit-linear-gradient(top, #34d94d, #2bab3e);
    background-image: -moz-linear-gradient(top, #34d94d, #2bab3e);
    background-image: -ms-linear-gradient(top, #34d94d, #2bab3e);
    background-image: -o-linear-gradient(top, #34d94d, #2bab3e);
    background-image: linear-gradient(to bottom, #34d94d, #2bab3e);
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 3px 20px 3px 20px;
    text-decoration: none;

    &:hover{
    background: #16ab2c;
    background-image: -webkit-linear-gradient(top, #16ab2c, #148c24);
    background-image: -moz-linear-gradient(top, #16ab2c, #148c24);
    background-image: -ms-linear-gradient(top, #16ab2c, #148c24);
    background-image: -o-linear-gradient(top, #16ab2c, #148c24);
    background-image: linear-gradient(to bottom, #16ab2c, #148c24);
    text-decoration: none;
}}

.messagebar {
    margin-top: 12px;
    margin-left: 250px;

    & input {
    width: 830px;
    height: 32px;
    border-radius: 8px;
}}

.messagebar button {
    background: #34d94d;
    background-image: -webkit-linear-gradient(top, #34d94d, #2bab3e);
    background-image: -moz-linear-gradient(top, #34d94d, #2bab3e);
    background-image: -ms-linear-gradient(top, #34d94d, #2bab3e);
    background-image: -o-linear-gradient(top, #34d94d, #2bab3e);
    background-image: linear-gradient(to bottom, #34d94d, #2bab3e);
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 3px 20px 3px 20px;
    text-decoration: none;

    &:hover{
    background: #16ab2c;
    background-image: -webkit-linear-gradient(top, #16ab2c, #148c24);
    background-image: -moz-linear-gradient(top, #16ab2c, #148c24);
    background-image: -ms-linear-gradient(top, #16ab2c, #148c24);
    background-image: -o-linear-gradient(top, #16ab2c, #148c24);
    background-image: linear-gradient(to bottom, #16ab2c, #148c24);
    text-decoration: none;
}}

.message-container {
    position: relative;
    display: block;
    margin: 10px 0 10px 0;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #e5e5e5;

    & img {
    max-width: 300px;
}}

.message-container .user {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
    width: 120px;
    text-align: left;
}

.message-container .message {
    display: inline-block;
    margin-left: 200px;
    text-align: left;
    width: 300px;
}

.message-container .time {
    display: inline-block;
    width: 335px;
    position: absolute;
    text-align: right;
}
